<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="../style/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <!-- /* --- 1. About Page Header (Banner) ----------------------------------------------------- */ -->
    <header class="head">
        <img class="img" src="/assets/image/logo.png" alt="">
        <nav class="navbar">
            <a href="/index.html">Home</a>
            <a href="./shop.html">Shop</a>
            <a href="./blog.html">Blog</a>
            <a href="./about.html">About</a>
            <a href="./contact.html">Contact Us</a>

        </nav>

    </header>
    <section id="page-header" class="about-header">
        <h2>#KnowUs</h2>
        <p>Our journy, our passion, our team</p>
    </section>


    <!-- /* --- 2. Who We Are Section ----------------------------------------------------------- */ -->

    <section id="about-head" class="section-p1">
        <img src="../assets/image/team.png" alt="">
        <div>
            <h2>Who We Are?</h2>
            <p>
                We are your trusted partner in technology, specializing in high-quality computers, laptops, and
                accessories designed to meet the needs of students, professionals, businesses, and gamers.
                Our mission is to provide modern technology at competitive prices, backed by honest advice, reliable
                products, and excellent customer support.
                We are committed to helping our customers choose the right solutions, stay connected, and grow with
                confidence in a fast-changing digital world.
            </p>
            <abbr title="">Welcome to our store! Enjoy the best deals on the latest tech. Quality guaranteed.</abbr>

            <br><br>
            <!-- /* --- 3. Abbreviation & Marquee ----------------------------------------- */ -->
            <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">
                Powering your digital world with high-quality computers, modern technology, and trusted service—helping
                you work smarter, learn faster, and enjoy better performance every day.
            </marquee>
        </div>
    </section>

    <!-- /* --- 4 Our Mission ----------------------------------------- */ -->
    <section class="our-mission">
        <div class="mission">
            <div class="about-mission">
                <h2>Our Mission</h2>
                <p>Our mission is to deliver trustworthy, high-quality computers with excellence and reliability for
                    every customer.</p>
            </div>
            <div class="mission-grid">
                <div class="box">
                    <div class="icon"><i class="fa-solid fa-code"></i></div>
                    <h3>Trust</h3>
                    <p>We build trust with our customers by providing honest and reliable products and services,
                        ensuring every purchase is safe and dependable.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa-solid fa-code"></i></div>
                    <h3>Quality</h3>
                    <p>We prioritize quality by offering high-performance computers and accessories that meet the
                        highest standards, ensuring customer satisfaction and long-lasting use.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa-solid fa-code"></i></div>
                    <h3>Reliability</h3>
                    <p>We focus on reliability by making sure every product and service works as promised, and by
                        maintaining consistent delivery and support.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa-solid fa-code"></i></div>
                    <h3>Excellence</h3>
                    <p>We strive for excellence by delivering superior products, expert guidance, and exceptional
                        customer service, always aiming to exceed expectations.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </div>
    </section>

 <section id="header">
        <a href="#"><img class="logo" src="/assets/image/logo.png" alt=""></a>
        <div>
            <ul id="navbar">
               <li><a class="active" href="/index.html">Home</a></li>
                <li><a href="./shop.html">Shop</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </div>
    </section>
</body>

</html>