<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="../style/about.css">
</head>

<body>
    <section id="header">
        <a href="#"><img class="logo" src="/assets/image/logo.png" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="/index.html">Home</a></li>
                <li><a href="./shop.html">Shop</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </div>
    </section>
    <section id="page-header" class="about-header">
        <h2>#KnowUs</h2>
        <p>Our journy, our passion, our team</p>
    </section>


    <!-- /* --- 2. Who We Are Section ----------------------------------------------------------- */ -->

    <section id="about-head" class="section-p1">
        <img src="../assets/team.png" alt="">
        <div>
            <h2>Who We Are?</h2>
            <p>
                We are your trusted partner in technology, specializing in high-quality computers, laptops, and
                accessories designed to meet the needs of students, professionals, businesses, and gamers.
                Our mission is to provide modern technology at competitive prices, backed by honest advice, reliable
                products, and excellent customer support.
                We are committed to helping our customers choose the right solutions, stay connected, and grow with
                confidence in a fast-changing digital world.
            </p>
            <abbr title="">Welcome to our store! Enjoy the best deals on the latest tech. Quality guaranteed.</abbr>

            <br><br>
            <!-- /* --- 3. Abbreviation & Marquee ----------------------------------------- */ -->
            <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">
                Powering your digital world with high-quality computers, modern technology, and trusted service—helping
                you work smarter, learn faster, and enjoy better performance every day.
            </marquee>
        </div>
    </section>


</body>

</html>