<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact page</title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="../style/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<body>
    <section id="header">
        <a href="#"><img class="logo" src="/assets/image/logo.png" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="/index.html">Home</a></li>
                <li><a href="./shop.html">Shop</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </div>
    </section>
    <section id="page-header" class="about-header">
        <h2>#Let's_talk</h2>
        <p> LEAVE A MESSAGE. We love to hear from you!</p>
    </section>


    <!-- /* ----------------------2.contact  ---------*/ -->
    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit on of our agency location or contact us today</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                <li class="fal fa-map"></li>
                <p>BP 511, Phum Tropeang Chhuk (Borey Sorla) Sangtak, Street 371, Phnom Penh</p>
                </li>
                <li>
                <li class="fal fa-envelope"></li>
                <p>contact@example.com</p>
                </li>
                <li>
                <li class="fal fa-phone-alt"></li>
                <p>contact@example.com</p>
                </li>
                <li>
                <li class="fal fa-clock"></li>
                <p>Monday to Saturday: 7:30.00am to 10:00am</p>
                </li>
            </div>
        </div>


        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3909.0139081695015!2d104.88308359999999!3d11.5508598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310951add5e2cd81%3A0x171e0b69c7c6f7ba!2sPasserelles%20num%C3%A9riques%20Cambodia%20(PNC)!5e0!3m2!1sen!2skh!4v1766829130550!5m2!1sen!2skh"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </section>


    <!-- /* ----------------------3.form for complete -------------*/ -->

    <section id="form-details">
        <form action="">
            <span>LEAVE A MESSAGE </span>
            <h2>We love to hear from you</h2>
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your message">
            <button class="normal">Submit</button>
            </textarea>
        </form>

        <div class="people">
            <div>
                <img src="../assets/about/yang.png" alt="">
                <p><span>Sokyang</span>Web Developer <br> Phone: + 000 345 987 456 765 <br>Email: contact@example.com
                </p>
            </div>
        </div>
        <div class="people">
            <div>
                <img src="../assets/about/Ya.png" alt="">
                <p><span>Sokyang</span>Web Developer <br> Phone: + 000 345 987 456 765 <br>Email: contact@example.com
                </p>
            </div>
        </div>
        <div class="people">
            <div>
                <img src="../assets/about/boyprofile.png" alt="">
                <p><span>Sokyang</span>Web Developer <br> Phone: + 000 345 987 456 765 <br>Email: contact@example.com
                </p>
            </div>
        </div>
    </section>





</body>

</html>